html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/kilimanjaro-twilight.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-position: fixed; */
  background-color: #9ae7f5;
  /* min-height: 100%; */
}

.notification {
  color: white;
  font-size: 1.6rem;
}
form {
  padding: 2.5rem;
  margin-top: 3.75rem;
}
form button,
form h5 {
  margin: 2.5rem 0 1rem 0;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #b35dc4;
  box-shadow: none;
}
